@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.card {
  border: 1px solid #f0f0f0;
  background-color: #f0f0f0;
  border-radius: 16px;
  padding: 16px;
  text-align: center;
  margin: 10px;
  overflow: hidden;
}

.card:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

/* Contenedor de la imagen */
.image-wrapper {
  width: 100%;
  height: auto;
  overflow: hidden; /* Para evitar que la imagen se salga del contenedor */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Imagen con efecto zoom */
.image {
  /*max-width: 100%;
  height: auto; */
  width: 980px;
  height: 350px;
  object-fit: cover;
  transition: transform 0.4s ease; 
}

.card:hover .image {
  transform: scale(1.2); 
}

.name {
  font-family: 'Poppins', sans-serif;
  text-align: left;
  font-size: 1em;
  margin: 10px 0;
}

.description {
  font-size: 1em;
  color: #555;
}

.price {
  font-weight: bold;
  margin: 10px 0;
  color: #363357;
  text-align: left;
}

.button {
  background-color: #7871db;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 700;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 20px;
  margin-top: 15px;
}

.button:hover {
  background-color: #a09cda;
}

.offerText {
  color: #ff4d4d;
  font-size: 0.9em; /* Tamaño ligeramente más pequeño */
  font-weight: bold;
  margin-left: 5px; /* Espaciado entre el precio y el texto */
}
