.sets-container {
    margin-bottom: 90px;
}

.sets-section {
    background-image: url('../../assets/images/banner_sets.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 160px 18px;
    text-align: center;
  }