.footer {
    background-color: #dddada; 
    padding: 40px 20px; 
    color: #333;
    font-family: "Poppins", serif;
  }
  
  .footer-links {
    display: flex;
    justify-content: flex-start; 
    flex-wrap: wrap;
    max-width: 1200px; 
    margin: 0 auto;
    padding: 0 20px; 
    position: relative; 
  }
  
  .footer-section {
    width: 30%;
    margin-bottom: 20px; 
  }
  
  .footer-section h4 {
    cursor: pointer;
    font-weight: bold;
    color: #333;
    margin: 10px 0;
    text-align: left; 
  }
  
  .footer-list {
    list-style: none;
    padding: 0;
    text-align: left; 
    visibility: visible; 
    opacity: 1; 
  }
  
  .footer-list li {
    padding: 5px 0;
  }
  
  .footer-socials {
    display: flex;
    gap: 15px;
    position: absolute;
    right: 0;
    top: 60%;
    transform: translateY(-50%); 
  }
  
  .footer-socials img {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  
  .footer-socials img:hover {
    filter: brightness(1.2);
    opacity: 0.8;
    transform: scale(1.2);
    filter: hue-rotate(180deg); 
  }
  
  .footer-bottom {
    margin-top: 20px; /* Reduce el margen superior */
    text-align: center;
    font-size: 0.875rem;
  }
  
  .footer-bottom p {
    font-weight: 600;
  }
  
  .footer-bottom-links {
    margin-top: 10px;
  }
  
  .footer-bottom-links a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
  }
  
  .footer-bottom-links a:hover {
    color: #63448b; /* Hover para los enlaces */
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .footer-section {
      width: 100%;
      margin-bottom: 10px;
    }
  
    .footer-socials {
      justify-content: center;
      margin-top: 20px;
      position: static; /* Restablece la posición en pantallas pequeñas */
      transform: none;
    }
  
    .footer-bottom-links {
      display: block;
      margin-top: 10px;
    }
  
    .footer-list {
      display: none; /* Oculta las listas por defecto */
      text-align: center; /* Centra los elementos */
    }
  
    .footer-list.open {
      display: block; /* Muestra las listas cuando están abiertas */
    }
  
    .toggle-header {
      display: block; /* Muestra los encabezados de toggle */
    }
  }
  
  @media (min-width: 769px) {
    .toggle-header {
      display: block; /* Oculta los encabezados de toggle */
    }
  
    .footer-list {
      display: block; /* Asegura que las listas estén siempre visibles */
    }
  
    .footer-section h4 {
      font-weight: bold; /* Asegura que los encabezados estén en negritas */
      margin-bottom: 20px; /* Añade más espacio abajo */
      text-align: left; /* Alinea los encabezados a la izquierda */
    }
  }
  