html {
  background-color: #f0f0f0;
}

.welcome-section {
  background: linear-gradient(to right, rgba(153, 69, 164, 0.8), rgba(150, 59, 161, 0.8), rgba(233, 161, 243, 0.8), rgb(232, 41, 123), rgb(218, 85, 142));
  background-size: 300% 100%; 
  animation: cambiarDegradado 10s ease infinite; 
  padding: 160px 78px;
  text-align: center;
}

@keyframes cambiarDegradado {
  0% {
      background-position: 0% 50%; 
  }
  50% {
      background-position: 100% 50%; 
  }
  100% {
      background-position: 0% 50%;
  }
}


.home-title {
  font-size: 10rem;
  font-weight: 700;
  color: #f0f0f0;
  margin-bottom: 1px; 
}

.home-text {
  font-size: 1.5rem;
  color: #f0f0f0;
  margin-top: 0;
}

/* Product Section */
.products-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
  gap: 20px;
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 10px;
  justify-content: center; 
  max-width: 1200px; 
  margin: 0 auto;
}

.products-title {
  padding: 1%;
  font-size: 2rem;
  color: #73307c;
  text-align: center;
  margin: 20px 0;
}

/* Responsivo */
@media (max-width: 768px) {
  .welcome-section {
    padding: 100px 20px;
  }

  .home-title {
    font-size: 2rem; 
    margin-bottom: 0px; 
  }

  .home-text {
    font-size: 1rem;
  }

  .products-title {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .welcome-section {
    padding: 80px 0px;
  }

  .home-title {
    font-size: 1.2; 
    margin-bottom: 0;
  }

  .home-text {
    font-size: 1rem;
  }
}